/* Author: Álvaro Sanz García  */

body {
    background-image: url(../img/cliffs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0.95rem;
}

form {
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}